html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: black;
  color: white;
}


/*----------------------- header -----------------------  */

header {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  /* border: 1px solid red; */
}

header > img {
  align-self: flex-start;
  width: 17rem;
  margin-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.engine_button_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  height: 7rem;
  width: 50rem;
  /* border: 1px solid pink; */
}

.search_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 7rem;
  margin-top: 0;
  /* border: 1px solid red;; */
}

.searchbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: 14px;
  /* border: 1px solid green; */
}

.type_area > form{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40rem;
  /* border: solid 1px blue; */
}

.type_area > form > input:focus{
  border-color: yellow;
  outline: none;
}

.typebox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  border-color: white;
  width: 40rem;
  height: 2.3rem;
  border: 0.1px solid white;
  margin: 5px 5px 5px 5px;
  background-color: black;
  padding: 1px 15px 1px 15px;
  color: white;
  font-size: 1rem;
}

.search_btn {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 height: 2.8rem;
 background-color: transparent;
 border: none;
}

#search_icon {
  height: 2.8rem;
  margin-left: 3px;
  cursor: pointer;
}

#refresh_icon {
  height: 2.2rem;
  margin-left: 5px;
  cursor: pointer;
}


.sub_option_area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 10rem;
}

#info_icon {
  height: 2.2rem;
  align-self: flex-end;
  margin: 0 10px 2px 10px;
  cursor: pointer;
}

/* info icon from 
<a target="_blank" href="https://icons8.com/icon/37303/information">Information</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */

/* search incon from 
<a target="_blank" href="https://icons8.com/icon/12456/google-web-search">Google Web Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/

/* refresh incon from 
<a target="_blank" href="https://icons8.com/icon/4aaibf6SmbMJ/reboot">Refresh</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>*/

/*----------------------- main -----------------------  */


.list_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 130px 50px 100px 50px;
}

.movieCard {
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content:start;
  width: 14rem;
  height: 41rem;
  margin: 20px 20px 80px 20px;
  padding: 0 0 5px 0;
  border-radius: 20px;
  transition:  transform .5s;
  cursor: pointer;
}

.movieCard:hover {
  transform: scale(1.03);
}

.movieImage {
  width: 14rem;
  height:18rem;
  object-fit: cover;
  border-radius: 20px;
}

.movieCard > p {
  font-size: 0.95rem;
  margin: 45px 3px 0 3px;
}

.movieName{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  height: 3.5rem;
  padding: 8px 1px 1px 0;
  /* border: 1px solid pink; */
}

.movieName > h3 {
  font-size: 1.1rem;
  margin-left: 5px;
  margin-bottom: 5px;
}

.movieName > p {
  font-size: 0.9rem;
  color: yellow;
  margin: 0 0 5px 5px;
}